html {
  scroll-behavior: smooth;
}

.header {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
}

.logo-topo-cadastro{
  position:relative;
  width: 250px;   /* Ou outro valor pequeno */
  height: auto;
  display:flex;
  align-items: center;
  margin-left: 48px;
  margin-top: 150px;

}

main {
  display: flex;
  flex-direction: column;
  align-items: center;  /* centraliza horizontalmente */
  justify-content: center;
  margin-top: 80px;
  gap: 1rem;
}

.cadastro-titulo {
 color: #16492F;
  font-size: 40px;
  text-align: left;
  align-self: flex-start;
  font-family: 'oswald', sans-serif;
  margin-left: 50px;
  margin-top: 70px;
  margin-bottom:5px;
}

input {
  background-color: #CEC9B2;
  width: 75%;
  height: 30px;
  padding: 8px;
  margin-top: -5px;
  margin-bottom: 20px;
  border: 1px;
  border-radius: 15px;
  align-self: center;
  
}

.label-cadastro {
  margin-left: 50px;
  align-self: flex-start;
  font-weight: bolder;
  font-family: 'Inter', sans-serif;
  color: #16492F;
  font-size: 20px;
}

.redLogin {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  color: #333;
  padding: 0px 70px;
  text-align: center;
  margin-top: -20px;
}

.linklogin {
  color: #16492F;
  font-weight: bold;
  text-decoration: underline;
}

.linklogin:hover {
  color: #0d331f;
}

.botao-cadastro {
  font-weight:bolder;
  font-family: 'Inter', sans-serif;
  background-color:#16492F;
  color: white;
  font-size: 20px;
  padding: 10px 10px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  width: 250px;
  height: 70px;
  justify-content: center;
  margin-bottom: 100px;
  margin-top: 30px;
}

.botao-cadastro:hover {
  background-color: gray;
}