
/* Estilo global */
body {
  background-color: rgb(24, 24, 24); 
  margin: 0;
  padding: 0;
}

.Home {
  min-height: 100vh;
  background-color: #16492F; /* branco suave */
  background-image: url(./assets/pattern.png);
  background-position: center center; /* para centralizar a imagem */
  background-size: 150% 100%; /* para a imagem caber no espaço, pode usar cover também */
  font-family: inherit;
  position: relative; /* garante que elementos absolutos/relativos fiquem ancorados aqui */
  overflow-x: hidden; 
}

.PainelControle {
  min-height: 100vh;
  background-color: #16492F !important; /* branco suave */
  background-image: url(./assets/pattern.png);
  background-position: center center; /* para centralizar a imagem */
  background-size: 150% 100%; /* para a imagem caber no espaço, pode usar cover também */
  font-family: inherit;
  position: relative; /* garante que elementos absolutos/relativos fiquem ancorados aqui */
  overflow-x: hidden; 
}

.Cadastro {
  min-height: 100vh;
  background-color: #F9F4C9; 
   background-image: url(./assets/pattern.png);
  background-position: center center; /* para centralizar a imagem */
  background-size: 150% 100%; 
  font-family: inherit;
  position: relative; /* garante que elementos absolutos/relativos fiquem ancorados aqui */
  overflow-x: hidden; 
}

.Login {
  min-height: 100vh;
  background-color: #F9F4C9; 
  font-family: inherit;
  background-image: url(./assets/pattern.png);
  background-position: center center; /* para centralizar a imagem */
  background-size: 150% 100%; 
  position: relative; /* garante que elementos absolutos/relativos fiquem ancorados aqui */
  overflow-x: hidden; 
}

.Pedidos{
  min-height: 100vh;
  background-color: #F9F4C9; 
  font-family: inherit;
  background-image: url(./assets/pattern.png);
  background-position: center center; /* para centralizar a imagem */
  background-size: 150% 100%; 
  position: relative; /* garante que elementos absolutos/relativos fiquem ancorados aqui */
  overflow-x: hidden; 
}
.content {
  flex: 1;
  padding: 20px;
}
